<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h3 class="section-heading">MODERN • ANCIENT • JEWELRY</h3>
                    <h3 class="section-subheading text-muted">Emi: nickname/short for Emily</h3>
                    <h3 class="section-subheading text-muted">Marina: feminine name, Latin origin, meaning “of the sea”</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <ul class="timeline">
                        <li>
                            <h3 class="section-subheading-about text-muted">Emi Marina is inspired by current trends and ancient jewelry.  Many elements are intended to look like lost treasures that have been brought back to life, by means of distressing & manipulating metal through the processes of hand forging. Both modern and classic themes & symbols appear as silver charms and pendants; these have been carved by hand and produced in precious metal, using the same silver jewelry making techniques of the ancients.</h3>
                            <h3 class="section-subheading-about text-muted">Emi Marina was created to fill a need for jewelry lovers who appreciate handmade pieces designed to last and to wear everyday, and for those who prefer the wabi sabi aesthetic over jewelry perfected through mass production. Every element is in weighty sterling silver. Each piece is unique, keeping with the juxtaposition of old and new, rough and smooth.</h3>
                            <h3 class="section-subheading-about-italic text-muted">Emi Marina jewelry is made with love near the sea in sunny Florida.</h3>        
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>