 <!-- Portfolio Modals -->
 {% for product in site.products %}
    <div class="portfolio-modal modal fade" id="portfolioModal{{ product.modal-id }}" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>{{ product.title }}</h2>
                            <div class="text-primary-option">{{ product.subtitle }}</div>
                            <hr class="star-primary">
                            <img src="img/portfolio/{{ product.img }}" class="img-responsive img-centered" alt="{{ product.alt }}">
                            <p>{{ product.description }}</p>
                            <ul class="list-inline item-details">
                                <!--<li>Client:
                                    <strong><a href="http://startbootstrap.com">{{ post.client }}</a>
                                    </strong>
                                </li>
                                <li>Date:
                                    <strong><a href="http://startbootstrap.com">{{ post.project-date }}</a>
                                    </strong>
                                </li>-->
                                <li>Category:
                                    <strong><a href="/">{{ product.category }}</a>
                                    </strong>
                                </li>
                            </ul>
                            <button class="snipcart-add-item"
                            data-item-name="{{ product.name }}"
                            data-item-id="{{ product.sku }}"
                            data-item-image="{{ product.image }}"
                            data-item-url="{{ site.baseurl }}"
                            data-item-price="{{ product.price }}">
                            Add to Cart <!--${{ post.price }}-->
                            </button>
                        </div>
                        <div class="col-lg-8 col-lg-offset-2">
                                <ul class="list-inline social-buttons">
                                    {% for network in site.social %}
                                    <li><a href="{{ network.url }}"><i class="fa fa-{{ network.title }}"></i></a>
                                    </li>
                                    {% endfor %}
                                </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endfor %}
